.container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.1fr 1.9fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HEADER HEADER HEADER"
    "side-left CONTENT SIDE-RIGHT";
  min-height: 100vh;
}

.HEADER {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0 50px;
  gap: 0px 0px;
  grid-auto-flow: column;
  justify-self: stretch;
  align-self: stretch;
  position: sticky;
  top: 0;
  z-index: 11;
  grid-area: HEADER;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(8px);
}

.side-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: start;
  grid-template-areas: "social-nav";
  justify-self: stretch;
  align-self: stretch;
  grid-area: side-left;
  min-height: inherit;
}

.CONTENT {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: CONTENT;
  padding: 100px 0;
  min-height: inherit;
  text-decoration: none;
  
}

.SIDE-RIGHT {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: end;
  grid-template-areas: "email-link";
  grid-area: SIDE-RIGHT;
  min-height: inherit;
}
